
# Allure
allure-results/
allure-report/

node_modules/

# Build & reports
dist/
build/
out/
coverage/
allure-results/
allure-report/

.env
.env.local
.env.*

.vscode/
.idea/
.DS_Store
npm-debug.log
yarn-error.log

# Playwright artifacts
test-results/
reports/
screenshots/
playwright-report/

# Node / deps
node_modules/

# Playwright artifacts & reports
test-results/
reports/
playwright-report/
screenshots/
allure-results/
allure-report/

# Env / IDE / OS
.env
.env.local
.vscode/
.idea/
.DS_Store
npm-debug.log
yarn-error.log
