
# Allure
allure-results/
allure-report/

node_modules/

# Build & reports
dist/
build/
out/
coverage/
allure-results/
allure-report/

.env
.env.local
.env.*

.vscode/
.idea/
.DS_Store
npm-debug.log
yarn-error.log
